.certificates {
  position: absolute;
  width: 100%;
}
.certificates-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.2rem;
  display: flex;
  position: absolute;
  top: 50px;
  margin-left: 50%;
  transform: translate(-50%);
}
#cert1,
#cert2,
#cert3,
#cert4,
#cert5,
#cert6 {
  color: #f6aba1;
  position: relative;
}
#cert7,
#cert8,
#cert9,
#cert10,
#cert11,
#cert12 {
  color: #f599c4;
  position: relative;
}
.cert-grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 150px;
  width: 60%;
  margin-left: 50%;
  transform: translate(-50%);
  gap: 20px;
}
.grid-item {
  width: 100%;
  height: 350px;
  position: relative;
}
.grid-item img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
}
.grid-item img:hover {
  transform: scale(1.05);
  z-index: 40;
}
.img-cont {
  position: absolute;
  width: 60%;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 150px;
}
.img-cont i {
  position: absolute;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.445);
  background-color: rgba(255, 255, 255, 0.52);
  cursor: pointer;
}
.img-cont img {
  width: 100%;
}
@media (max-width: 800px) {
  .certificates-title {
    font-size: 1.2rem;
  }
  .cert-grid-container {
    margin-top: 150px;
    width: 80%;
  }
  .img-cont {
    width: 95%;
  }
  .img-cont i {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .certificates-title {
    font-size: 1rem;
  }
  .cert-grid-container {
    margin-top: 150px;
    width: 95%;
    grid-template-columns: 1fr;
  }
}
