.hobbies {
  width: 100%;
  position: absolute;
  background-color: white;
}
.hobbies-title {
  position: relative;
  width: 100%;
  text-align: center;
  color: rgb(213, 163, 179);
  margin-top: 20px;
}
.hobbies-title span {
  position: relative;
}
.hobby {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
}
.hobby-img {
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  position: relative;
}
.netball1 {
}
.netball2 {
}
.netball3 {
}
.netball4 {
}
.hobby-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 3%;
}

@media (max-width: 700px) {
  .hobbies-title {
    font-size: 3rem;
  }
  .hobby {
    flex-direction: column;
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .hobby-img {
    height: 250px;
    width: 40%;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .hobby-title {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }
}
