.hobbies {
  width: 100%;
  position: absolute;
  background-color: white;
  min-height: 100vh;
  max-height: auto;
}
.hobbies-title {
  position: relative;
  width: 100%;
  text-align: center;
  color: rgb(71, 71, 71);
  margin-top: 20px;
}
.hobbies-title span {
  position: relative;
}
.hobby {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
}
.hobby-img {
  background-size: contain;
  height: 200px;
  background-repeat: no-repeat;
  position: relative;
}
.swim1,
.swim2,
.swim3,
.swim4 {
  width: 200px;
}
.hobby-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 3%;
}
.netball h3 {
  color: coral;
}
.swim h3 {
  color: cornflowerblue;
}
.tennis h3 {
  color: darkseagreen;
}

@media (max-width: 700px) {
  .hobbies {
    height: auto;
  }
  .hobbies-title {
    font-size: 1.7rem;
  }
  .hobby {
    flex-direction: column;
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .hobby-img {
    height: 250px;
    width: 40%;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .hobby-title {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }
}
