* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url("./images/white_pink.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  font-family: "MuseoModerno", cursive;
  font-size: 1.5rem;
}
.hide-D {
  display: none !important;
}
.hide {
  opacity: 0;
  pointer-events: none;
}
.show {
  opacity: 1;
  pointer-events: all;
}
.white-bg {
  background: white !important;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
